{%- if content_for_header contains 'Shopify.designMode' -%}
  {%- assign is_design_mode = true -%}
{%- endif -%}


<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"{% if settings.layout_enable_rtl %} dir="rtl"{% endif %}> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"{% if settings.layout_enable_rtl %} dir="rtl"{% endif %}> <!--<![endif]-->

  <head>
    <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KKLW8RLK');</script>
  <!-- End Google Tag Manager -->
    {% capture get_content_for_header %}{{ content_for_header }}{% endcapture %}
    {% include 'head' %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> {% endcomment %}
  </head>
  <body {% render 'layout-get-body-attributes' %}>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KKLW8RLK"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {%- if settings.layout_enable_preloader -%}
    {% render 'layout-get-preloader' with is_fixed: true %}
  {%- endif -%}

  
  <main role="main" id="MainContent">
    <div class="container-fluid px-0 mx-0">
      <div class="row">
        <div class="col-12 col-md-6 p-0 d-flex justify-content-center" style="background: #e3e3e3;">
          
          <img src='https://cdn.shopify.com/s/files/1/0557/1949/3785/files/WhatsApp_Image_2024-09-23_at_09.28.02.jpg?v=1727347459'
            class="cover" />
            
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center flex-column">
          {{ content_for_layout }}
          <div class="password-footer">
            <div class="footer-logo">
              <div class="footer-navigation">
                <ul>
                  <li><a  onclick="OpenDiv()">FAQ</a></li>
                  <li><a onclick="open_contact()" >CONTACT </a></li>
                  <li><a href="https://www.instagram.com/uvu/">INSTAGRAM</a></li>
                  <li><a href="https://www.tiktok.com/@uvuclub">TIKTOK</a></li>
                  <li><a href="https://discord.gg/gBuzeP3Teg">DISCORD</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
    
  <div  id="faq_id" class="hide pt-20">
    {% section 'faqs' %}    
  </div>
    <div id="contact_id" class="hide">
    
      <div class="password-contact-form">
        
        <p>CONTACT US    <span onclick="close_all_pop()" class="closeFAQ">{% include 'icon-theme-164' %}</span></p>
        
          {% form 'contact' %}
          {%- if form.posted_successfully? -%}
              <p class="form-success">{{ 'contact.form.post_success' | t }}</p>
          {%- endif -%}
          <input type="text"
                name="contact[name]"
                id="ContactFormName"
                placeholder="Name"
                value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}"
                required="required">
          <input type="email"
                name="contact[email]"
                id="ContactFormEmail"
                placeholder="Email"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                spellcheck="false"
                autocomplete="off"
                autocapitalize="off"
                required="required">
          
          <input type="tel"
                class="form-control"
                name="contact[ORDER_NUMBER]"
                id="ContactFormPhone"
                placeholder="Order Number"
                value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
        
        <textarea name="contact[body]"
                    id="ContactFormMessage"
                    placeholder="Message"
                    required="required"></textarea>
      
          
          
          <div class="pt-0">
            <button type="submit" class="btn btn--secondary SUBMIT-FORM">SUBMIT</button>
          </div>
        {% endform %}
      </div>
    
    </div>
    {% include 'form-get-message' %}


  {% section 'password-page-footer' %}
  {% include 'popups' %}
  {% comment %} {% include 'layout-get-includes' %} {% endcomment %}



  {% capture get_content_for_header %}
  {%- if settings.dev_enable_content_for_header -%}
    {%- unless settings.javascript_loader_jquery_first -%}
      {%- assign get_content_for_header = get_content_for_header | replace: "window.addEventListener('load', asyncLoad, false);", "window.addEventListener('theme.loaded.scripts.plugin_jquery', asyncLoad, false);" | replace: "window.attachEvent('onload', asyncLoad);", "window.attachEvent('theme.loaded.scripts.plugin_jquery', asyncLoad);" -%}
    {%- endunless -%}
    {% comment %} {{ get_content_for_header }} {% endcomment %}
  {%- endif -%}
  {% endcapture %}
  {{ get_content_for_header }}

{% render 'layout-get-version' %}
  
  
  <style>
    #faq_id, #contact_id{
    color: #fff;
    flex:1;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: black;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
  }

  #contact_id input::placeholder{
      color: white;
  }
  #faq_id .icon{
  fill:#fff;
}
    div#shopify-section-faqs {
        float: left;
        width: 100%;
    }
    
    .containered-faq {
    max-width: 665px;
    margin: 0px auto;
}
    
 h2.faqs__head.h5 {
    color: #fff;
}
.rte.faq_answer p {
    color: #fff;
}
    
 .hide {
    display: none;
}
    
  
span.closeFAQ {
    position: absolute;
    left: 0px;
    top: 0px;
}
 
svg.icon.icon-theme-164 {
    fill: #fff;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, a, a:visited, a:active, a:link {
    color: #fff;
}
    
span.closeFAQ {
    cursor: pointer;
}
i {
    color: #fff;
}    
    
.password-contact-form {
    max-width: 500px;
    margin: 0px auto;
    padding-top: 150px;
}

.password-contact-form input {
    background-color: #000000;
    border-color: #FFFFFF;
    border-width: 1px 1px 1px 1px;
    border-radius: 0px 0px 0px 0px;
    height: 40px;
    padding: 8px 16px;
}
    
button.btn.btn--secondary.SUBMIT-FORM {
    {% comment %} font-family: "Favorit", Sans-serif; {% endcomment %}
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: 40px;
    border-radius: 0px !important;
}
    
    button.btn.btn--secondary.SUBMIT-FORM:hover {
    background: #fff;
}
    
.password-contact-form p {
    text-align: center;
    color: #FFFFFF;
    {% comment %} font-family: "Favorit", Sans-serif; {% endcomment %}
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 64.4px;
}
    
    .password-contact-form input:hover {
    background: transparent;
}
    
    .password-contact-form input:hover::placeholder {
    color: #858585;
}
    
    input[type=text]:focus, input[type=number]:focus, input[type=email]:focus, input[type=password]:focus, input[type=search]:focus, input[type=tel]:focus, textarea:focus, select:focus {
    background-color: #000;
    border: solid 1px #e5e5e5;
    color: #fff;
}
    
 p.form-success {
    text-align: center;
    color: #FFFFFF;
    {% comment %} font-family: "Favorit", Sans-serif; {% endcomment %}
    font-size: 14px !important;
    font-weight: 400;
    margin-bottom: 20px !important;
}
    
 .header__password.header__dropdown.dropdown.position-lg-absolute.d-none.top-lg-100.right-lg-0.mt-0 {
    right: 22.5% !important;
}
    
span.closeFAQ {
    position: unset;
}
    
    span.closeFAQ {
    float: right;
}
 
span.closeFAQ {
   
    top: -2px
}

.faq_cro {
    float: left;
    width: 100%;
    padding: 0px 25px;
}

textarea#ContactFormMessage {
    background-color: #000000;
    border-color: #FFFFFF;
    border-width: 1px 1px 1px 1px;
    border-radius: 0px 0px 0px 0px;
    height: 100px;
    padding: 8px 16px;
}

 .kalvio-form-password button {
    height: 40px !important;
    padding: 0px !important;
    padding-right: 16px !important;
}
    
    .faqs {
    display: block;
    float: left;
    width: 100%;
}
    
   .containered-faq .faq_cro {
    padding: 0px;
}
    

    
@media only screen and (max-width: 600px) {
  

.password-contact-form {
    padding-left: 25px;
    padding-right: 25px;
}
  
input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], select, textarea {
    border: solid 1px #e5e5e5;
}
  
div#shopify-section-faqs {
    padding-left: 25px;
    padding-right: 25px;
}
  .password-footer {
    margin-bottom: 50px;
}
}

@media screen and (min-width:768px){
  .cover {
    object-fit: cover;
    height: 100vh;
  }
}
 
  </style>
  
  <script>
    
    function OpenDiv(){
      $("#contact_id").hide();
      {% comment %} $("#MainContent").hide(); {% endcomment %}
      $("#faq_id").show();
    }
  
    
    function open_contact(){
      $("#contact_id").show();
      {% comment %} $("#MainContent").hide(); {% endcomment %}
      $("#faq_id").hide();
    }
    
    function close_all_pop(){
    
      $("#contact_id").hide();
      $("#MainContent").show();
      $("#faq_id").hide();
    }
  
    
    
    $(document).ready(function(){
    	
      var a = window.location.href;
	var contact_form =	a.split('#')[1];
      
      if(contact_form == 'contact_form'){
      	open_contact();
      }
      
    });
    
    
  </script>
  
  
  
  
  
</body>
</html>
